[Unit]
Description=Home Assistant
Requires=network-online.target var-lib-containers.mount
After=network-online.target var-lib-containers.mount mosquitto.service sys-subsystem-net-devices-eth0.3.device
Requires=mosquitto.service sys-subsystem-net-devices-eth0.3.device

[Service]
Slice=machine.slice
MemoryLimit=2G
ExecStart=/docker2root_entrypoint.sh
ExecStartPost=/docker2root_cmd.sh
KillMode=mixed
Restart=always

# Hardening
RootDirectory=/bigdisk/containers2/homeassistant/home-assistant:0.107.7
ProtectSystem=strict
MountAPIVFS=true
TemporaryFileSystem=/var
BindPaths=/bigdisk/hass:/config:ro
Environment=S6_READ_ONLY_ROOT=1
PrivateNetwork=true
#DynamicUser=true
#PrivateUsers=true

[Install]
WantedBy=multi-user.target
