[Unit]
Description=var-lib-oci on bigdisk

[Mount]
What=/dev/disk/by-uuid/2693cfea-2c8d-498b-a8bd-78fb986d5504
Where=/var/lib/oci
Type=btrfs
Options=subvol=oci,defaults
