[Unit]
Description=Some isolated web service
After=network.target network-online.target bigdisk.mount
Requires=bigdisk.mount

[Service]
Type=oneoff
ExecStart=/home/motiejus/bin/prepare_container.sh /bigdisk/python3 python:3-alpine
