[user]
	email = motiejus@uber.com
	name = Motiejus Jakštys

[http]
    followRedirects = true
	cookiefile = /home/motiejus/.gitcookies
[pull]
	ff = only
[sendmail]
	confirm = auto
[protocol]
	version = 2

[sendemail]
    smtpEncryption = tls
    smtpServer = smtp.gmail.com
    smtpUser = desired.mta@gmail.com
    smtpServerPort = 587
[alias]
	yolo = commit --amend --no-edit -a
[init]
	defaultBranch = main
[protocol "file"]
	allow = always
[rerere]
	enabled = true
[merge]
	conflictstyle = diff3
