PATH_add tools

_trustdbdiff=trustdbdiff
_pandocdiff="pandoc -t plain"
_pubringkbx=kbxutil

if [ "$(git config diff.trustdb.textconv)" != "$_trustdbdiff" ]; then
    git config diff.trustdb.textconv "$_trustdbdiff"
fi

if [ "$(git config diff.pandocdiff.textconv)" != "$_pandocdiff" ]; then
    git config diff.pandocdiff.textconv "$_pandocdiff"
fi

if [ "$(git config diff.pubringkbx.textconv)" != "$_pubringkbx" ]; then
    git config diff.pubringkbx.textconv "$_pubringkbx"
fi
