# postfix
sasl_passwd filter=git-crypt diff=git-crypt

# nginx/letsencrypt
account.key filter=git-crypt diff=git-crypt
dhparam.pem filter=git-crypt diff=git-crypt
domain.key filter=git-crypt diff=git-crypt
