root/postfix/etc/postfix/sasl_passwd filter=git-crypt diff=git-crypt

root/etc/nginx/letsencrypt/account.key filter=git-crypt dif=git-crypt
root/etc/nginx/letsencrypt/dhparam.pem filter=git-crypt dif=git-crypt
root/etc/nginx/letsencrypt/domain.key filter=git-crypt dif=git-crypt
