[Unit]
Description=Home Assistant
Requires=network-online.target
After=network-online.target var-lib-containers.mount mosquitto.service sys-subsystem-net-devices-eth0.3.device
Requires=mosquitto.service sys-subsystem-net-devices-eth0.3.device

[Service]
Slice=machine.slice
Delegate=true
MemoryLimit=2G
ExecStartPre=-/usr/bin/podman rm %n
ExecStart=/usr/bin/podman run -v /bigdisk/hass:/config --net=host --name %n docker.io/homeassistant/home-assistant:0.107.7
ExecStop=/usr/bin/podman rm %n
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
