[Unit]
Description=Resilio Sync service
Documentation=https://help.getsync.com/
After=network.target network-online.target

[Service]
User=%i
Type=simple
RestartSec=3
Restart=always
ExecStartPre=/etc/resilio-sync/init_user_config.sh
ExecStart=/usr/bin/rslsync --nodaemon --config /home/%i/.config/resilio-sync/config.json

# Hardening
ProtectSystem=strict
PrivateTmp=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
PrivateDevices=true

# Paths
ProtectHome=tmpfs
BindPaths=/home/%i/.config/resilio-sync
BindPaths=/bigdisk/annex2/R-Camera

[Install]
WantedBy=multi-user.target
