[Unit]
Description=Resilio Sync service
Documentation=https://help.getsync.com/
After=network.target network-online.target

[Service]
User=%i
Type=simple
RestartSec=3
Restart=always
ExecStartPre=/etc/resilio-sync/init_user_config.sh
ExecStart=/usr/bin/rslsync --nodaemon --config /home/%i/.config/resilio-sync/config.json

# Hardening
ProtectSystem=full
PrivateTmp=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true
TemporaryFileSystem=/home
BindPaths=/home/%i/.config/resilio-sync

[Install]
WantedBy=multi-user.target
