[Unit]
Description=Resilio Sync service
Documentation=https://help.getsync.com/
After=network.target network-online.target

[Service]
User=%i
Type=simple
RestartSec=3
Restart=always
ExecStartPre=/etc/resilio-sync/init_user_config.sh
ExecStart=/usr/bin/rslsync --nodaemon --config /home/%i/.config/resilio-sync/config.json

[Install]
WantedBy=multi-user.target
