[Unit]
Description=Download .ssh/authorized_keys
After=network.target network-online.target

[Service]
ExecStartPre=/bin/mkdir -p %h/.ssh
ExecStart=/usr/bin/curl -fo .ssh/authorized_keys https://github.com/motiejus.keys

[Install]
WantedBy=default.target
