[Unit]
Requires=mqtt.socket
After=mqtt.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 192.168.193.4:1883
PrivateTmp=yes
ProtectSystem=yes
